<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>5s</key>
	<dict>
		<key>7.x</key>
		<false/>
		<key>8.x</key>
		<false/>
		<key>9.x</key>
		<false/>
		<key>10.x</key>
		<true/>
		<key>11.x</key>
		<string>YES</string>
		<key>12.x</key>
		<string>YES</string>
	</dict>
	<key>6</key>
	<dict>
		<key>8.x</key>
		<false/>
		<key>9.x</key>
		<false/>
		<key>10.x</key>
		<false/>
		<key>11.x</key>
		<true/>
		<key>12.x</key>
		<true/>
	</dict>
	<key>6s</key>
	<dict>
		<key>9.x</key>
		<false/>
		<key>10.x</key>
		<false/>
		<key>11.x</key>
		<false/>
		<key>12.x</key>
		<false/>
		<key>13.x</key>
		<true/>
	</dict>
	<key>7</key>
	<dict>
		<key>10.x</key>
		<false/>
		<key>11.x</key>
		<false/>
		<key>12.x</key>
		<false/>
		<key>13.x</key>
		<true/>
	</dict>
	<key>8</key>
	<dict>
		<key>11.x</key>
		<false/>
		<key>12.x</key>
		<false/>
		<key>13.x</key>
		<true/>
	</dict>
	<key>x</key>
	<dict>
		<key>11.x</key>
		<false/>
		<key>12.x</key>
		<false/>
		<key>13.x</key>
		<true/>
	</dict>
</dict>
</plist>
